@charset "UTF-8";

.forms h2 { margin-bottom: 0; }

.header { margin-bottom: .8em; }

.header h1, .header h2, .header h3,
.header h4, .header h5 { margin: 0; }

.header p, .subtitle {
  display: block;
  margin: 0;
  margin-left: 2em;
  font-size: smaller;
}

#data_menu h2 { margin-bottom: 0; }
#data_menu p { margin-top: 0; }

dl {
  margin-left: 2em;
  margin-top: 0;
}
ul {
  padding-left: 2em;
  margin-top: 0;
}
dl dt { display: inline; }
dl dd {
  display: inline;
  margin-left: .5em;
}
.subdata { margin-left: 2em; }
dl + .subdata { margin-top: 0 !important; }
h3, h4 { margin-bottom: 0; }

fieldset {
  border: none;
  padding: 0;
}

img {
  border: none;
  vertical-align: middle;
}

/* Skulls */
.skull_display {
  position: relative;
  height: 30px;
}
.skull_display img {
  position: absolute;
  top: 0px;
  margin: 0 1px;
}
img.skull_1 { left: 0px; }
img.skull_2 { left: 32px; }
img.skull_3 { left: 64px; }
img.skull_4 { left: 96px; }
img.skull_5 { left: 128px; }
img.skull_6 { left: 160px; }
img.skull_7 { left: 192px; }
img.skull_8 { left: 224px; }
img.skull_9 { left: 256px; }
img.skull_10 { left: 288px; }
img.skull_11 { left: 320px; }
img.skull_12 { left: 352px; }

/* Standings Table */
table.standings {
  border-collapse: collapse;
  margin-top: 2em;
  margin-bottom: 2em;
}
table.standings tbody tr { border-bottom: 1px solid #CCC; }
table.standings th {
  border-bottom: 1px solid #000000;
  padding: 0 .25em;
}
table.standings td { padding: .25em; }